:root {
    --text: #d4dab2;
    --background: #3e3823;
    --links: #e0b034;
    --code-bg: #584f21;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #413b1a;
        --background: #ccc28b;
        --links: #8c6604;
        --code-bg: #e8e0c3;
    }

    @media (prefers-contrast: more) {
        :root {
            --text: #000;
            --background: #fff;
            --links: #00f;
            --code-bg: #eee;
        }
    }
}

@media (prefers-contrast: more) {
    :root {
        --text: #fff;
        --background: #000;
        --links: #0ff;
        --code-bg: #111;
    }
}

body {
    max-width: 40em;
    margin: 2em auto;
    padding: 0 .5em;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 1.2em;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3 {
    line-height: 1.2;
    margin-left: 0;
}
.anchor {
    text-decoration: none;
    color: unset;
}
.anchor:hover {
    text-decoration: underline;
}

a {
    color: var(--links);
}

article > *:not(h1,h2,h3) {
    margin-left: 1rem;
}

pre, :not(pre) > code {
    /*border: 2px solid var(--text);*/
    background: var(--code-bg);
    padding: 2px;
    border-radius: 4px;
}

footer {
    text-align: center;
    min-height: 200px;
}

nav.horizontal {
    margin: unset;
    display: flex;
    justify-content: space-evenly;
}

@media print {
    :root {
        --text: #000;
        --background: #fff;
        --links: #00f;
        --code-bg: #aaa;
    }

    body {
        max-width: none;
        font-size: 12px;
    }
}
